.custom-scrollbar {
    @apply overflow-y-auto;
    padding-right: 10px;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 15px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #374151;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #111827;
}
